[submodule ".registry"]
	path = .registry
	url = https://github.com/braaannigan/braaannigan.r-universe.dev
	branch = HEAD
[submodule "unmarked"]
	path = unmarked
	url = https://github.com/braaannigan/unmarked
	branch = webr-support
